<!DOCTYPE HTML>

<html>
<head>
	<h2 style="color:navy">Home Page</h2>
</head>
{% if not logged_in %}
<a style="margin:auto;float:left" href="/blog/login">Login</a>
<a style="margin-left:20%;float:left" href="/blog/signup">New User Signup</a>
{% endif %}
<a style="margin-left:18%;float:left" href="/blog/newpost">Submit New Blog</a>
{% if cookie_value %}
<a style="margin-left:25%;float:left" href="/blog/logout">Logout</a>
{% endif %}
<br>
<body>
	{% if blogs %}
	{% for blog in blogs %}
	<hr>
	<h3 style="color:navy">{{blog.title}}</h3>
	<div style="margin=auto;float:left">
		{% if blog.likes_count != None %}
		{{blog.likes_count}}
		{% endif %}
		<a style="margin=auto;float:left" href="/blog/{{blog.blog_id}}/likeblog">Likes</a>
	</div>
	<a style="margin-left:20%;float:left" href="/blog/{{blog.blog_id}}/unlikeblog">Unlike</a>
	<div><a style="margin-left:18%;float:left" href="/blog/{{blog.blog_id}}/editblog">Edit</a>
	<a style="margin-left:25%;float:left" href="/blog/{{blog.blog_id}}/deleteblog">Delete</a>
	</div>
	<br>
	<br>
	<div>
		{{blog.blog}}
	</div>
	<br>
	<div>
		{{blog.comments_count}}
		<a href="/blog/{{blog.blog_id}}/commentblog">Comment</a>
	</div>
	{% endfor %}
	{% endif %}
</body>
</html>
