<!DOCTYPE HTML>

<html>
<head>
	<h2>Home Page</h2>
</head>
<a href="/blog/login">Login</a>
<a href="/blog/signup">New User Signup</a>
<a href="/blog/newpost">Submit New Blog</a>
<br>
<br>
{% if cookie_value %}
<a href="/blog/logout">Logout</a>
{% endif %}
<br>
<body>
	{% if blogs %}
	{% for blog in blogs %}
	<h3>{{blog.title}}</h3>
	<div>
		{% if blog.likes_count != None %}
		{{blog.likes_count}}
		{% endif %}
		<a href="/blog/{{blog.blog_id}}/likeblog">Likes</a>
		<a href="/blog/{{blog.blog_id}}/unlikeblog">Unlike</a>
	</div>
	<div><a href="/blog/{{blog.blog_id}}/editblog">Edit</a>
	<a href="/blog/{{blog.blog_id}}/deleteblog">Delete</a>
	</div>
	<hr>
	<div>
		{{blog.blog}}
	</div>
	<div>
		{{blog.comments_count}}
		<a href="/blog/{{blog.blog_id}}/commentblog">Comment</a>
	</div>
	{% endfor %}
	{% endif %}
</body>
</html>
