<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
	<div class="Login">
	{% if cookie_value %}
	<h3>User already logged in !</h3>
	{% else %}
	<h3 style="color:navy;text-align:center;">User Login</h3>
	<form method="post">
		<div class="username" style="color:navy;text-align:center;margin:auto;width:50%;box-sizing: border-box;">
			<label for="username">Username*
			<input type="text" name="username" value="{{username}}">
			</label>
		</div>
		<br>
		<div class="password" style="color:navy;text-align:center;margin:auto;width:50%;box-sizing: border-box;">
			<label for="password">Password*</label>
			<input type="password" name="password" value="{{password}}">
		</div>
		<h5 style="color:red;text-align:center;">{{error}}</h5>
		<p align="center">
			<input type="Submit" name="submit">
		</p>
		<br>
		<p align="center">
		<a href="/blog/signup">New User? Sign Up here</a>
		</p>
	</form>
	{% endif %}
</div>
</body>
</html>