<!DOCTYPE HTML>
<html>
<head>
	{% if cookie_value %}
	<h3>User already logged in !</h3>
	{% else %}
	<h3>User Login</h3>
	<form method="post">
		<div>
			Username*
			<input type="text" name="username" value="{{username}}">
		</div>
		<br>
		<div>
			Password*
			<input type="password" name="password" value="{{password}}">
		</div>
		<h5>{{error}}</h5>
		<div>
			<input type="Submit" name="submit">
		</div>
		<br>
		<a href="/blog/signup">New User? Sign Up here</a>
	</form>
	{% endif %}
</head>
</html>