<!DOCTYPE HTML>

<html>
<form method="post">
<div class="subject" style="color:navy;text-align:center;margin:auto;width:50%;box-sizing: border-box;">
	Subject
	<input type="text" name="subject" value="{{title}}">
</div>
<br>
<br>
<div class="content" style="color:navy;text-align:center;margin:auto;width:50%;box-sizing: border-box;">
	Content
	<textarea rows="20" cols="30" name="content">{{blog}}</textarea>
<br>
<br>
<div class="button">
	<input type="Submit">
</div>
<div class="error">
	<h5 style="color:red;text-align:center;">{{error}}</h5>
</div>
</form>
<br>
</html>
